body, html {
    font-family:Arial, Helvetica, sans-serif;
}

#logo {
    margin: 20px auto;
    width: 25%;
}

#content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    min-width: 100%;
}
