@font-face {
    font-family: 'ShowcardGothic';
    src: url('ShowcardGothic-Regular.ttf');
}

body {
    font-family: 'ShowcardGothic', Fallback, sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
    color: white !important;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

#logo {
    padding-top: 5%;
}
